node_modules
npm-debug.log*
.env
.env.local
.env.ok
.env.prod
infra/docker/.env.prod
.env.dev
infra/docker/.env.dev
.next

**/*next-env.d.ts
dist
coverage
playwright-report
test-results
vitest-report
apps/api/test/**/*.js
apps/api/test/**/*.js.map
apps/api/test/**/*.d.ts
libs/*/src/*.js
libs/*/src/*.js.map
libs/*/src/*.d.ts

**/plans/**.md
